services:
  nginx:
    build:
      context: docker/nginx
    ports:
      - "81:80"
    volumes:
      - ./:/app
    depends_on:
      - app

  app:
    build:
      context: docker/app
    volumes:
      - ./:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

  database:
    image: mysql:8.4
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
      MYSQL_USER: ${MYSQL_USER:-app}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
    ports:
      - "3335:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - ./mysql_data:/var/lib/mysql